<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
</head>
<body>
	<h1>Home of dat weather</h1>
	<h2>Gimme dat zip</h2>
	<form method="GET" action="/weather">
		<input type="text" name="zip" placeholder="enter dat zip code">
		<button type="submit">Show dat weather</button>
	</form>
</body>
</html>