    <h2>Get Your Weather Update Here</h2>
	<form method="get" action="weather/current">
	   <input type="text" name="zip" placeholder="enter a zip code">
	   <button type="submit">Get my current weather</button>
    </form>

