<h1>Find the Weather!</h1>


<div>
    <form method="GET" action="/search">
        <div>
            <label for="query">city/zip code</label>
            <input type="text" name="query" id="query">
            <button type="submit">submit</button>
        </div>
    </form>
</div>