<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/search.css">
</head>

<body>
    <div class="wrapper search-box">
        <h1>KAWAII WEATHER CHECKER</h1> 
        <form action="/weather" method="GET">
            <label>Search: </label>
            <input type="text" name="zip" placeholder="enter a zip code or city">
            <input type="image" src="/icons/png/006-search.png" id="search-btn" alt="kawaii search">
        </form>
    </div>

</body>

</html>