<!DOCTYPE html>
<html>
    <head>
        <title>Express Weather</title>
    </head>
    <body>
        <h1>Express Weather</h1>
        <p>Get the current weather anywhere.</p>
        <form action='/weather' method='get'>
            <label for="zipcode">ZIP Code: </label>
            <input type="text" name="zipcode">
            <input type="submit">
        </form>
        <form action='random' method='get'>
            <input type='submit' value='Random ZIP Code'>
        </form>
    </body>
</html>