<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Zip Code</h1>
    <form action ="/weather" method="get">
        <input type="number" name="zip" id="ranZipBox">
        <input type="submit" value="submit">
    </form>
    <form action="/weather/:zipcode" method="get">
        <button onclick="randomizer()" name="zip" id='random'>Random Zip</button>
    </form>
</body>

<script>
    function randomizer () {
         let ranZip = Math.floor(Math.random() * (99999 - 00001) + 00001)
        document.getElementById('ranZipBox').value = ranZip
    }
</script>

</html>